# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages used in Data Science
* List common libraries used in Data Science
*

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript

#### Some of the commonly used libraries used by Data Scientists are:
1. Pandas
2. Numphy
3. TensorFlow

| Data Science Tools |
| ------------------- |
| JupyterLab |
| RStudio |
| Apache Hadoop |

### Below are few examples of evaluating arithmetic expressions in Python:

In [17]:
#This is a simple arithmetic expression to multiply and then add integers.

(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by dividing it by 60.
min=200
hrs=200/60
print(hrs)

3.3333333333333335